# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.vscode
eclipse
run
runs
run-data

repo
/CRITICAL_FIX_v1.3.4.md
/DEBUG_BUILD_v1.1.5.md
/FINAL_CLEAN_v1.4.0.md
/FINAL_FIX_HOT_IRON.md
/FINAL_VERSION_v1.1.4.md
/FINAL_WORKING_v1.2.1.md
/FIXED_PICKUP_v1.2.3.md
/FIXED_v1.2.0.md
/FIXES_APPLIED.md
/GUI_IMPROVED_v1.3.0.md
/GUI_INPUT_BLOCKED_v1.3.1.md
/HOT_IRON_PICKUP_FINAL_FIX.md
/HOT_IRON_UNOBTAINABLE_FIX.md
/NEW_APPROACH_v1.1.2.md
/PICKUP_FIX.md
/PROGRESS_UPDATE_v1.1.3.md
/SMITHING_SYSTEM_README.md
/build/
/run/
/decompiled/
